<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Opine" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag :application, :media => 'all' %>
    <%= javascript_include_tag :application %>
  </head>
  <body>
    <%= render 'layouts/header'%>
    <div class="container-fluid">
      <div class="row-fluid">
        <% if user_signed_in? %>
          <div class="span2">
              <%= render 'layouts/sidebar' %>
          </div>
        <% else %>
          <%= render 'layouts/advertising' %>
        <% end %>
        <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
      <footer>
        <hr/>
        <p>&copy; Workup</p>
      </footer>
    </div>
  </body>
</html>